.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.factura {
  margin: 10px auto;
}

.userConteiner {
   margin: 10% 30%;
}

.marco{
  margin: 2% 2%;
  padding: 0 0 0 0;
}

.siteMarco{
  font-size: 100%;
  font-weight: 100%;
  margin: 40px;
  overflow: hidden;
}

.fomtMarco {
  font-size: 100%;
  font-weight: 100%;
  background: #3d5e7a;
  padding: 20px;
  /* margin: 20px 0 0 0;
  overflow: hidden; */
}

.fomtMarcotittle {
  font-size: 1%;
  font-weight: 1%;
}
.form-select:focus {
  width: 100% !important;
  border-color: #00000000 !important;
  border-bottom: 3px solid var(--primary) !important;
  outline: 1;
 /* transition: all 0.3s ease-in; */
}

.margen {
  /* el tamaño por defecto es 14px */
  margin-left: 150px;
  margin-right: 20px;
}

.button-block {
  height: 10px;
}

.facttitlesize {
  /* el tamaño por defecto es 14px */
  font-size: 1rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.factsize {
  /* el tamaño por defecto es 14px */
  font-size: 1.2rem;
  color: rgb(22, 30, 197);
}
.fsize {
  /* el tamaño por defecto es 14px */
  font-size: 2rem;
  color: crimson;
}
.fsizeTable {
  /* el tamaño por defecto es 14px */
  font-size: 1.1rem;
}
.sizeCambio {
  /* el tamaño por defecto es 14px */
  font-size: 1rem;
}
.card-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 1px 2px black;
  margin: 0 50px;
  margin-top: 70px;
  width: 420px;
}

.paginacion {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
}
/*********************************** Fin Buscador ***********************************/
/* Adaptamos las reglas al código que genera drupal y definimos los estilos generales */
/*********************************** Fin Buscador ***********************************/
/* Lo primero es posicionar el formulario para asegurarnos que el efecto se produce de derecha a izquierda */


.marcoSeach{
  margin-bottom: 20px;
  margin-left: 30px;
  max-width: 500px;

}
.navbar-form {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Definimos las transiciones */
.navbar-form .form-control[type=text] {
  background: transparent;
  display: inline-block;
  transition: all .5s;
}


.map-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  height: 250px;
  width: 100%;
  margin: 0;
  border: 0px solid rgb(163, 161, 161);
  background-color: rgb(125, 193, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  border-radius: 0px;
}

/* --- (4) Leaflet container with map dimensions (other properties optional) --- */
.leaflet-container {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.footer {
 font-size: 0.8rem; 
  margin: 0;
  padding: 30px 20px 10px 30px;
  background-color: rgb(91, 92, 97);
 /*line-height: 15%; */
  color: #fff
  ;
}

/* Al situar el puntero en el campo de búsqueda este cambia su color de fondo a blanco, el color de la letra, el borde y la sombra */
.navbar-form .form-control[type=text]:focus {
  background-color: #fff;
  border-color: #a8bcd1;
  color: #333;
  -webkit-box-shadow: 0 0 2px rgba(170, 216, 234, 0.5);
  -moz-box-shadow: 0 0 2px rgba(170, 216, 234, 0.5);
  box-shadow: 0 0 2px rgba(170, 216, 234, 0.5);
}

/* Para pantallas grandes hacemos que el formulario se despliegue con amplitud ya que disponemos de espacio en la barra de navegación, la busqueda se ejecuta con intro o pinchando en el icono de la lupa */
@media (min-width:1200px) {
  .navbar-form input.form-control[type=text] {
    width: 160px;
  }

  .navbar-form input.form-control[type=text]:focus {
    width: 350px;
  }


}

/* Para pantallas menores reducimos el campo de busqueda y hacemos que se despliegue cuando hacemos focus sobre el icono de la lupa. La busqueda se ejecuta con intro o pinchando de nuevo en el icono de la lupa */
@media (max-width: 1200px) {
  .navbar-form .form-control[type=text] {
    width: 40px;
    position: absolute;
    right: 0px;
    z-index: 1000;
    padding: 8px 12px;
    cursor: pointer;
  }

  .navbar-form,
  .navbar-form div.input-group {
    width: 40px;
    height: 40px;
  }

  .navbar-form .form-control[type=text]:focus {
    position: absolute;
    right: 40px;
    width: 250px;
  }
}

/* Para pantallas de smartphones ajustamos el ancho del campo de busqueda */
@media (max-width: 375px) {
  .navbar-form .form-control[type=text]:focus {
    width: 150px;
  }
}

/*********************************** Fin Buscador ***********************************/

@media only screen and (max-width: 990px) {
.factsize {
    font-size: .9rem;
  }
.facttitlesize {
  font-size: .8rem;
}
}
@media only screen and (max-width: 880px) {
  .fsize {
    /* el tamaño por defecto es 14px */
    font-size: 1.8rem;
  }
  .fsizeTable {
    font-size: 1rem;
  }
  .card-login {
    width: 390px;
  }
  .sizeCambio {
    font-size: 0.8rem;
  }
  .margen {
    margin-left: 50px;
    margin-right: 20px;
  }
  .userConteiner {
    margin: 10% 25%;
  }
.factsize {
  /* el tamaño por defecto es 14px */
  font-size: .9rem;
}

}

@media only screen and (max-width: 680px) {
  .fsize {
    font-size: 1.6rem;
  }
  .fsizeTable {
    font-size: 0.9rem;
  }
  .card-login {
    width: 360px;
  }
  .margen {
    margin-left: 20px;
    margin-right: 20px;
  }
  .userConteiner {
    margin: 20% 20%;
  }

}

@media only screen and (max-width: 580px) {
  .fsize {
    /* el tamaño por defecto es 14px */
   font-size: 1.4rem;
  }
  .fsizeTable {
    /* el tamaño por defecto es 14px */
    font-size: 0.8rem;
  }
  .card-login {
    width: 330px;
  }
  
  .paginacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 510px) {
  .fsize {
    /* el tamaño por defecto es 14px */
    font-size: 1.2rem;
      color: crimson;
  }
  .fsizeTable {
    /* el tamaño por defecto es 14px */
    font-size: 0.7rem;
  }
  .card-login {
    width: 300px;
  }
  .userConteiner {
    margin: 20% 10%;
  }
  .factsize {
    /* el tamaño por defecto es 14px */
    font-size: .7rem;
  }
}

@media only screen and (max-width: 450px) {
  .fsize {
    /* el tamaño por defecto es 14px */
    font-size: 0.9rem;
      color: crimson;
  }
  .fsizeTable {
    /* el tamaño por defecto es 14px */
    font-size: 0.6rem;
  }
  .button-block {
    width: 15%;
    height: 25px;
  }
  .card-login {
    width: 260px;
  }
  .userConteiner {
    margin: 20% 10%;
  }
}


.table .cell-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
 
.align-end {
  display: flex;
 align-items: flex-end; 
}


.align-center {
  align-items:center;
}
.wt-50 {
  width: 50%;
}
.table .wt-25 {
  width: 25%;
} .wt-30 {
  width: 30%;
}
.table .wt-40 {
  width: 40%;
} .wt-20 {
  width: 20%;
}
.table .wt-15 {
  width: 15%;
}
.table .wt-10 {
  width: 10%;
}
.table .negrilla{
  font-weight: 600;
}

.normal {
  background-color: #063157;
}
